In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from pandas.plotting import scatter_matrix
%matplotlib inline

In [5]:
creditfinal = pd.read_csv('credit.csv', index_col=0)
creditfinal = creditfinal[creditfinal.Limit > 3500]
creditfinal['Student'] = creditfinal.Student.map({'No':0, 'Yes':1})
creditfinal['Married'] = creditfinal.Married.map({'No':0, 'Yes':1})
creditfinal['Ethnicity'] = creditfinal.Ethnicity.map({'Caucasian':0, 'Asian':1, 'African American':2})
creditfinal['Female'] = pd.get_dummies(creditfinal.Gender)['Female']
creditfinal.drop(['Gender'], axis=1, inplace=True)
creditfinal.head(3)

,Income,Limit,Rating,Cards,Age,Education,Student,Married,Ethnicity,Balance,Female
1,14.891,3606,283,2,34,11,0,1,0,333,0
2,106.025,6645,483,3,82,15,1,1,1,903,1
3,104.593,7075,514,4,71,11,0,0,1,580,0

In [13]:
y = creditfinal.Balance
X = creditfinal[['Limit', 'Rating', 'Income','Student']]

In [14]:
X_train, X_test,y_train, y_test = train_test_split(X,y,test_size=0.33)

In [15]:
model = linear_model.LinearRegression(fit_intercept=True).fit(X_train, y_train)

In [16]:
model.score(X_test, y_test)

0.99015795450706745

In [17]:
model.coef_

array([  2.32434651e-01,   1.38332045e+00,  -1.00499867e+01,
         4.96554849e+02])

In [18]:
model.intercept_

-722.11039038139347

In [19]:
from itertools import combinations

In [31]:
#determine the total number of calculations needed to test all of the variables
total = 0
for i in range(1,11):
    total +=len(list(combinations(['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Student',
       'Married', 'Ethnicity', 'Female'],i)))

In [32]:
creditfinal.columns

Index(['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Student',
       'Married', 'Ethnicity', 'Balance', 'Female'],
      dtype='object')

In [33]:
total

1023

In [64]:
results=[]
for i in range(1,11):
    combos = list(combinations(['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Student','Married', 'Ethnicity', 'Female'],i))
    #combos = [[*c] for c in combos]
    for com in combos:
        y = creditfinal.Balance
        X = pd.DataFrame(creditfinal, columns=com)
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
        model = linear_model.LinearRegression(fit_intercept=True).fit(X_train, y_train)
        score = model.score(X_test, y_test)
        results.append((score, com))

In [66]:
answer = pd.DataFrame(results, columns=('score', 'com'))

In [69]:
answer

         score                                                com
0     0.086668                                          (Income,)
1     0.537913                                           (Limit,)
2     0.527959                                          (Rating,)
3    -0.023474                                           (Cards,)
4    -0.010028                                             (Age,)
5    -0.005358                                       (Education,)
6     0.128081                                         (Student,)
7     0.001615                                         (Married,)
8    -0.006564                                       (Ethnicity,)
9    -0.031864                                          (Female,)
10    0.785769                                    (Income, Limit)
11    0.785527                                   (Income, Rating)
12    0.088112                                    (Income, Cards)
13    0.084547                                      (Income, Age)
14    0.087361                                (Income, Education)
15    0.164634                                  (Income, Student)
16    0.096846                                  (Income, Married)
17    0.087572                                (Income, Ethnicity)
18    0.065475                                   (Income, Female)
19    0.517877                                    (Limit, Rating)
20    0.558567                                     (Limit, Cards)
21    0.558409                                       (Limit, Age)
22    0.539202                                 (Limit, Education)
23    0.622003                                   (Limit, Student)
24    0.545558                                   (Limit, Married)
25    0.538064                                 (Limit, Ethnicity)
26    0.527689                                    (Limit, Female)
27    0.539975                                    (Rating, Cards)
28    0.548229                                      (Rating, Age)
29    0.529835                                (Rating, Education)
...        ...                                                ...
993   0.997209  (Income, Limit, Cards, Education, Student, Mar...
994   0.991072  (Income, Limit, Age, Education, Student, Marri...
995   0.979975  (Income, Rating, Cards, Age, Education, Studen...
996   0.979810  (Income, Rating, Cards, Age, Education, Studen...
997   0.980598  (Income, Rating, Cards, Age, Education, Studen...
998   0.792469  (Income, Rating, Cards, Age, Education, Marrie...
999   0.979547  (Income, Rating, Cards, Age, Student, Married,...
1000  0.977262  (Income, Rating, Cards, Education, Student, Ma...
1001  0.979404  (Income, Rating, Age, Education, Student, Marr...
1002  0.136607  (Income, Cards, Age, Education, Student, Marri...
1003  0.636216  (Limit, Rating, Cards, Age, Education, Student...
1004  0.642406  (Limit, Rating, Cards, Age, Education, Student...
1005  0.636669  (Limit, Rating, Cards, Age, Education, Student...
1006  0.557675  (Limit, Rating, Cards, Age, Education, Married...
1007  0.638819  (Limit, Rating, Cards, Age, Student, Married, ...
1008  0.616273  (Limit, Rating, Cards, Education, Student, Mar...
1009  0.616347  (Limit, Rating, Age, Education, Student, Marri...
1010  0.641152  (Limit, Cards, Age, Education, Student, Marrie...
1011  0.625128  (Rating, Cards, Age, Education, Student, Marri...
1012  0.998860  (Income, Limit, Rating, Cards, Age, Education,...
1013  0.998888  (Income, Limit, Rating, Cards, Age, Education,...
1014  0.998805  (Income, Limit, Rating, Cards, Age, Education,...
1015  0.801857  (Income, Limit, Rating, Cards, Age, Education,...
1016  0.998800  (Income, Limit, Rating, Cards, Age, Student, M...
1017  0.997149  (Income, Limit, Rating, Cards, Education, Stud...
1018  0.991640  (Income, Limit, Rating, Age, Education, Studen...
1019  0.998866  (Income, Limit, Cards, Age, Education, Student...
1020  0.979753  (Income, Rating, Cards, Age, Education, Studen...
1021  0.636185  (Limit, Rating, Cards, Age, Education, Student...
1022  0.998817  (Income, Limit, Rating, Cards, Age, Education,...

[1023 rows x 2 columns]

In [85]:
answer.com[882]

('Income', 'Limit', 'Cards', 'Age', 'Education', 'Student', 'Married')